<div class="container">
  <ul *ngIf="!isLoading" class="list-group">
    <li class="list-group-item" *ngFor="let item of list">
      <a [routerLink]="['/list/'+item.$key]">{{item.title}}</a>
    </li>
  </ul>
  <div *ngIf="isLoading" class="text-center">
          <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
          <div>Fetching data...</div>
  </div>
</div>