<div class="jumbotron text-center">
  <div class="container">
    <h1> Property Listing</h1>
    <p>Access property available</p>

    <a class="btn btn-large btn-primary" (click)="login()">Login with google</a>
  </div>
</div>
<div class="ui one card">
<div class="ui card">
    <div class="content">
      <div class="header align center">You must be logged in</div>
      <div class="description">
        <button class="teal ui button" (click)="login()">Login with google</button>
      </div>
    </div>
    <div class="extra content">
      <div class="right floated created">Zwenexsys</div>
      <div class="friends">Angular Firebase Testing</div>
    </div>
</div>
</div>