<!--<nav class="navbar navbar-inverse ">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Angular Firebase</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><a [routerLink]="['/']">Home</a></li>
            <li><a [routerLink]="['/list']">List</a></li>
            <li><a [routerLink]="['/add-listing']">Add Listing</a></li>
            <li><a [routerLink]="['/timetable']">Timetable</a>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li *ngIf="!af.auth.currentUser"><a (click)="login()">Login</a></li>
            <li *ngIf="af.auth.currentUser"><a (click)="logout()">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>-->
    <!-- BOOTSTRAP 4 -->
<!--<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse ">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">AngularFirebase</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/list']">List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/add-listing']">Add Listing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/timetable']">Timetable</a>
          </li>
        </ul>
        <!--<form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav mr-right">
            <li class="btn btn-primary" *ngIf="!af.auth.currentUser"><a (click)="login()">Login</a></li>
            <li class="btn btn-danger" *ngIf="af.auth.currentUser"><a (click)="logout()">Logout</a></li>
          </ul>
      </div>
    </nav>-->

<div class="ui secondary pointing menu">
  <div class="header item">AngularFire</div>
  <a class="active item" [routerLink]="['/']">Home</a>
  <a class="item" [routerLink]="['/list']">List</a>
  <a class="item" [routerLink]="['/add-listing']">Add Listing</a>
  <a class="item" [routerLink]="['/timetable']">Timetable</a>

  <div class="right menu">
    <a class="item" *ngIf="!af.auth.currentUser" (click)="login()">Login</a>
    <a class="item" *ngIf="af.auth.currentUser" (click)="logout()">Logout</a>
  </div>
</div>