<div *ngIf="angularAuth.auth.currentUser">
<div  class="ui text container">
  <div class="column">
    <form class="ui large form" (submit)="onTimetableSubmit()">
      <div class="field">
        <label for="year">Year</label>
        <select class="ui dropdown" [(ngModel)]="year" name="year">
          <option value="First">1st Year</option>
          <option value="Second">2nd Year</option>
          <option value="Third">3rd Year</option>
          <option value="Fourth">4th Year</option>
          <option value="Fifth">5th Year</option>
        </select>
      </div>
      <div class="field">
        <label for="major">Major</label>
        <select class="ui dropdown" [(ngModel)]="major" name="major">
          <option value="none">NONE</option>
          <option value="CS">CS</option>
          <option value="CS/SE">CS - SE</option>
          <option value="CS/BIS">CS - BIS</option>
          <option value="CS/HPC">CS - HPC</option>
          <option value="CS/KE">CS - KE</option>
          <option value="CT">CT</option>
          <option value="CT/CN">CT - CN</option>
          <option value="CT/ES">CT - ES</option>
        </select>
      </div>
      <div class="field">
        <label for="section">Section</label>
        <select class="ui dropdown" [(ngModel)]="section" name="section">
          <option value="none">NONE</option>
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>
          <option value="E">E</option>
        </select>
      </div>
      <input class="pink ui large button" type="submit" value="Go">
    </form>
  </div>
</div>
<br>
<div class="ui container">
  <div class="ui one column centered grid">
      <div *ngIf="isLoading" class="text-center">
        <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
        <div>Fetching data...</div>
      </div>
      <div *ngIf="uniClasses">
        <div *ngIf="!isLoading">
          <table class="ui definition celled table center aligned">
            <thead>
              <tr height="10%">
                <th width="9%"></th>
                <th width="13%">8:30 - 9:30</th>
                <th width="13%">9:30 - 10:30</th>
                <th width="13%">10:30 - 11:30</th>
                <th width="13%">12:00 - 1:00</th>
                <th width="13%">1:00 - 2:00</th>
                <th width="13%">2:00 - 3:00</th>
                <th width="13%">3:00 - 4:00</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Monday</td>
                <td *ngFor="let item of mondayClasses">
                    <div *ngIf="item.Name!='Free'" >
                      <span class="ui teal label">{{item.subjID}}</span>
                      <br>
                    </div>
                    {{item.Name}}
                </td>
              </tr>
              <tr>
                <td>Tuesday</td>
                <td *ngFor="let item of tuesdayClasses">
                  <div *ngIf="item.Name!='Free'" >
                      <span class="ui teal label">{{item.subjID}}</span>
                      <br>
                    </div>
                    {{item.Name}}
                </td>
              </tr>
              <tr>
                <td>Wednesday</td>
                <td *ngFor="let item of wednesdayClasses">
                  <div *ngIf="item.Name!='Free'" >
                      <span class="ui teal label">{{item.subjID}}</span>
                      <br>
                    </div>
                    {{item.Name}}
                </td>
              </tr>
              <tr>
                <td>Thursday</td>
                <td *ngFor="let item of thursdayClasses">
                  <div *ngIf="item.Name!='Free'" >
                      <span class="ui teal label">{{item.subjID}}</span>
                      <br>
                    </div>
                    {{item.Name}}
                </td>
              </tr>
              <tr>
                <td>Friday</td>
                <td *ngFor="let item of fridayClasses">
                  <div *ngIf="item.Name!='Free'" >
                      <span class="ui teal label">{{item.subjID}}</span>
                      <br>
                    </div>
                    {{item.Name}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>
</div>
<div *ngIf="!angularAuth.auth.currentUser" class="text container">
  <br><br><br>
  <div class="ui card one column centered grid ">
      <div class="content ui center aligned">
        <div class="header">You must be logged in</div>
        <div class="description">
          <button class="teal ui button" (click)="login()">Login with google</button>
        </div>
      </div>
      <div class="extra content">
        <div class="right floated created">Zwenexsys</div>
        <div class="friends">Angular Firebase Testing</div>
      </div>
  </div>
</div>